@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
body {
}

#grid {
  /*margin-right: 7%;
  margin-left: 7%*/
  padding: 6% 8% 0% 7%
}

#frame{
  position: absolute;
  width: 98vw;
  height: 60vw;
  z-index: -1;
  display: absolute;
}

.tile {
    width: 2%;
    padding-bottom: 2%;
    border-width: .5px;
    border-style: solid;
    border-color: rgb(193, 193, 193);
    float: left;
    box-sizing: border-box;
}

#directions {
    font-family: 'Coming Soon', cursive;
    font-size: 40px;
    text-align: left;
    padding-left: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 5px gray;
    padding-top: 57%;
    /*color: rgb(135, 147, 162)*/
}

#currentSwatch {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    float: right;
    /*margin: 4px 300px 0px 0px;*/
    margin-right: 30%;
    margin-top: 4px;
    text-align: right;
    background-color: black;
}

#directions p{
  font-family: 'Coming Soon', cursive;
  font-size: 12px;
  text-align: center;
  color: white;
}

#toolbar {
    float: center;
    width: 800px;
    padding-bottom: 125px;
    display: relative;
}

/*#userCustomColor{

}*/

#plank {
    width: 523px;
    padding-bottom: 125px;
    padding-left: 30px;
    opacity: .75;
    position: absolute;
    z-index: 1;
}

#paintBlobs {
    position: absolute;
    width: 400px;
    z-index: 2;
    margin-left: 80px;
    margin-top: 20px;
}

.circle {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    float: left;
}

#colorMaker{
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
  float: right;
}
